[Desktop Entry]
Name=GXSPORT
GenericName=GXSPORT
Exec=pkexec env DISPLAY=:0 /opt/gxsport main
Terminal=false
Icon=/opt/xess.ico
Type=Application
Categories=Office;
Comment=GXSPORT
StartupWMClass=GXSPORT

